section {
  .infoSection {
    background-color: #fef4f4;
    min-height: 50%;
    font-size: 18px;
  }
  .benefits {
    min-height: 50%;
    .benefit{
      color: #163962;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  img {
    max-height: 200px;
  }
  div {
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  h3 {
    color: #ed2024;
  }
}